extends ./starter

block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th Name
                        th Start
                        th End
                        th Stories
                        th Points
                        td Ave CT
                        td NoCT
                    tbody
                        each sprint, i in sprints
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td 
                                    a(href='/team/'+teamName+'/sprint/'+sprint.sprintId+'/stories') #{sprint.name}

                                td= moment(sprint.startDate).format('DD-MMM')
                                td= moment(sprint.endDate).format('DD-MMM')
                                td= sprint.totals.numStoriesCompleted + " / " + sprint.totals.numStories + '  ('+ sprint.totals.percentStoryComplete+'%)'
                                td= sprint.totals.numStoryPointsCompleted + ' / ' + sprint.totals.totalUserStoryPoints 
                                    if (sprint.totals.totalUserStoryPoints)
                                        = '  ('+ sprint.totals.percentPointsComplete+'%)'
                                td= sprint.totals.aveCycleTimeForStories + " (+/- "+ sprint.totals.stdDevCycletime +") Days"
                                td= sprint.totals.numStoriesWithoutCT
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.sprintId+'/sprintReport') Report
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.sprintId+'/storySummary') Summary
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.sprintId+'/stories') Raw Data