extends ./starter

block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th Id
                        th Summary
                        th CT
                        th Sprint
                        th Completed

                    tbody
                        each story, i in stories
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td= story.key
                                td(align='left')= story.summary
                                td
                                    if (story.cycleTime > 0)
                                        = story.cycleTime
                                td= story.sprintSummary.name
                                td= moment(story.closedDate).format('DD-MMM')
