extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/signin.css', rel='stylesheet')
block body
	.container
		form.form-signin(method='POST' action="/login" enctype="application/x-www-form-urlencoded")
			h2.form-signin-heading Please sign in
			label.sr-only(for='inputEmail') Jira Login
			input#inputEmail.form-control(name='inputEmail', type='text', placeholder='Jira Login', required='', autofocus='')
			label.sr-only(for='inputPassword') Password
			input#inputPassword.form-control(name='inputPassword', type='password', placeholder='Password', required='')
			.checkbox
				label
					input(type='checkbox', value='remember-me')
					|  Remember me
			h5 Jira Instance 
				select#inputTeam(name="inputTeam")
					option(value=Sid) Sid
					option(value=wolfRed) Wolf Red
					option(value=wolfBlue) Wolf Blue
				
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in


