extends ./starter

block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th Name
                        th State
                        th ID
                        th Start
                        th End
                    tbody
                        each sprint, i in sprints
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td
                                    a(href='/team/'+teamName+'/sprint/'+sprint.id+'/stories') #{sprint.name}
                                td= sprint.state
                                td= sprint.id
                                td= moment(sprint.startDate).format('DD-MMM')
                                td= moment(sprint.endDate).format('DD-MMM')
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.id+'/sprintReport') Report
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.id+'/storySummary') Summary
                                td
                                    a.btn-sm.btn-primary(href='/team/'+teamName+'/sprint/'+sprint.id+'/stories') Raw Data