extends ./starter

block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-bordered
                    thead
                        th Name
                        th Total
                    tbody
                        tr
                            td Stories completed
                            td= totals.numStoriesCompleted + ' / ' + totals.numStories + '     ('+ totals.percentStoryComplete+'%)'
                        tr
                            td Story Points completed
                            td= totals.numStoryPointsCompleted + ' / ' + totals.totalUserStoryPoints+ '      ('+ totals.percentPointsComplete+'%)'
                        tr
                            td Stories
                            td= totals.numStories + "  (With Fix Ver: "+ totals.numStoriesWithFixVersion+")"
                        tr
                            td Spikes
                            td= totals.numSpikes
                        tr
                            td Bugs
                            td= totals.numBugs
                        tr
                            td Tech Tasks / Stories
                            td= totals.numTaskDetached
                        tr
                            td Unknown
                            td= totals.numUnknown

                        tr
                            td Num Stories w/o Pts
                            td=totals.numStoriesWithoutPoints
                        tr
                            td Num Stories Added to sprint
                            td= totals.numStoriesAdded
                        tr
                            td Num Stories Removed From Sprint
                            td= "unknown"
                        tr
                            td Average cycletime of stories for sprint
                            td= totals.aveCycleTimeForStories + " Days"
                        tr
                            td Std. Deviation for Cycle Time of stories
                            td= "+/- " + totals.stdDevCycletime + " Days"
                table.table.table-striped.table-bordered
                    thead
                        th Id
                        th type
                        th Summary
                        th State
                        th CT
                        th Started
                        th Completed
                        th Fix Ver
                        th Pts
                        th Add
                    tbody
                        each story, i in stories
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td= story.key
                                td= story.type
                                td(align='left')= story.summary
                                td
                                    if (story.realStatus == "Done")
                                        = story.realStatus
                                    else 
                                        = story.realStatus
                                        br
                                        = "Completed:" + story.doneSprintName
                                td
                                    if (story.cycleTime > 0)
                                        = story.cycleTime
                                    if (story.calculatedCycleTime > story.cycleTime && story.calculatedCycleTime > 0)
                                        = " (" + story.calculatedCycleTime +")"
                                td 
                                    if (story.devStartedDate!="")
                                        = moment(story.devStartedDate).format('DD-MMM')
                                    else
                                        = "Not Started"
                                td
                                    if (story.closedDate!="")
                                        = moment(story.closedDate).format('DD-MMM')
                                    else
                                        if (story.devStartedDate!="")
                                            = "Not Finished"
                                td= story.fixVersion
                                td= story.storyPoints
                                td
                                    if (story.wasAdded)
                                        = "Y"