extends ./starter

block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th Id
                        th type
                        th Summary
                        th State
                        th CT
                        th Started
                        th Completed
                        th Fix Ver
                    tbody
                        each story, i in stories
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td= story.key
                                td= story.type
                                td(align='left')= story.summary
                                td
                                    if (story.realStatus == "Done")
                                        = story.realStatus
                                    else 
                                        = story.realStatus
                                        br
                                        = "Completed:" + story.doneSprintName
                                td
                                    if (story.cycleTime > 0)
                                        = story.cycleTime
                                    if (story.calculatedCycleTime > story.cycleTime && story.calculatedCycleTime > 0)
                                        = " (" + story.calculatedCycleTime +")"
                                td= moment(story.devStartedDate).format('DD-MMM')
                                td= moment(story.closedDate).format('DD-MMM')
                                td= story.fixVersion
                                td= story.storyPoints