extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='/css/starter-template.css', rel='stylesheet')
block body
	+navbar-fixed("Project name","navbar","inverse")
		+nav_item("#","active") Home
		li.dropdown
			a.dropdown-toggle(href='/team/Axe/sprints/full', data-toggle='dropdown', role='button', aria-expanded='false')
				| Team Axe
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='/team/Axe/sprints/full') Sprint Details
				li
					a(href='/team/Axe/sprints') Sprint Summary
				li
					a(href='/team/Axe/stories') All Stories
				li
					a(href='/Sid/missingFixVersions') Missing Fix versions
				li
					a(href='/team/Axe/stories/links') Linked Isssues
		li.dropdown
			a.dropdown-toggle(href='/team/Axe/sprints/full', data-toggle='dropdown', role='button', aria-expanded='false')
				| Team BCSS
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='/team/BCSS/sprints/full') BCSS Sprint Details
				li
					a(href='/team/BCSS/sprints') Sprint Summary
				li
					a(href='/team/BCSS/stories') All Stories
				li
					a(href='/team/BCSSEXEAPI/sprints/full') BCSS EXE Api Sprint Details
				li
					a(href='/team/BCSSFITLogging/sprints/full') BCSS Fit Logging Sprint Details
				li
					a(href='/team/BCSSFITPilot/sprints/full') BCSS Fit Pilot Sprint Details
				li
					a(href='/team/BCSSPurple/sprints/full') BCSS Team Purple Sprint Details
				li
					a(href='/team/BCSS/stories/links') Linked Isssues
		li.dropdown
			a.dropdown-toggle(href='/team/Sid/sprints/full', data-toggle='dropdown', role='button', aria-expanded='false')
				| Team Sid
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='/team/Sid/sprints/full') Sprint Details
				li
					a(href='/team/Sid/sprints') Sprint Summary
				li
					a(href='/team/Sid/stories') All Stories
				li
					a(href='/Sid/missingFixVersions') Missing Fix versions
				li
					a(href='/team/Sid/stories/links') Linked Isssues		
		li.dropdown
			a.dropdown-toggle(href='/team/wolfRed/sprints/full', data-toggle='dropdown', role='button', aria-expanded='false')
				| Team wolfRed
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='/team/wolfRed/sprints/full') Sprint Details
				li
					a(href='/team/wolfRed/sprints') Sprint Summary
				li
					a(href='/team/wolfRed/stories') All Stories
		li.dropdown
			a.dropdown-toggle(href='/team/wolfBlue/sprints/full', data-toggle='dropdown', role='button', aria-expanded='false')
				| Team wolfBlue
				span.caret
			ul.dropdown-menu(role='menu')
				li
					a(href='/team/wolfBlue/sprints/full') Sprint Details
				li
					a(href='/team/wolfBlue/sprints') Sprint Summary
				li
					a(href='/team/wolfBlue/stories') All Stories
	.content
		block content
		
	

