extends ./starter


block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th type
                        th State
                        th CT
                        th CT2
                        th Completed
                        th Fix Ver
                        th Status Changes for 'Done' stories
                        th Subtasks
                        th Done Sprint
                        th Pts
                        th Add
                    tbody
                        each story, i in stories
                            tr
                                td(colspan=2)= story.key
                                td(colspan=9, align='left')= story.summary
                            tr
                                td= story.type
                                td= story.realStatus
                                td
                                    if (story.cycleTime > 0)
                                        = story.cycleTime
                                        br
                                td= story.calculatedCycleTime
                                td
                                    = "    "+moment(story.devStartedDate).format('DD-MMM')
                                    br
                                    = "End:" +  moment(story.closedDate).format('DD-MMM')
                                td= story.fixVersion
                                td(align='left')
                                    if story.statuses
                                        ul
                                            each issue in story.statuses
                                                li= moment(issue.date).format('DD-MMM') +':  '+ issue.type + ':- ' +issue.fromStr +' -> '+issue.toStr
                                td(align='left')
                                       each issue in story.subTasks
                                            li= issue
                                td= story.doneSprintName
                                td= story.storyPoints
                                td
                                    if (story.wasAdded)
                                        = "Y"