extends ./starter


block content
    .container
        .starter-template
            h1= title
            div
                table.table.table-striped.table-bordered
                    thead
                        th Id
                        th State
                        th CT
                        th Version
                        th Sprint
                        th Completed
                        th Linked
                    tbody
                        each story, i in stories
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td= story.key
                                td= story.status
                                td= story.cycleTime
                                td= story.fixVersion
                                td= moment(story.closedDate).format('DD-MMM')
                                td(align='left')
                                    ul
                                        each issue in story.linkedIssues
                                            li= issue.description + ' - ' + issue.type + '-' + issue.key + '  which is ' + issue.status
                                td= story.lastSprint
