body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}

/*
table tbody tr:nth-child(4n-1), table tbody tr:nth-child(4n)  {
  background: #ccc;
}
*/